# TranscriberBot-specific ignores
config/
media/

# Generic data-related ignores
*.csv
*.db
*.sqlite
*.sqlite3
data/
db.sqlite3
db.sqlite3-journal

# Generic Python-related ignores
*$py.class
*.cover
*.egg
*.egg-info/
*.log
*.manifest
*.mo
*.pot
*.py,cover
*.py[cod]
*.pyc
*.sage.py
*.spec
.Python
.activate
.cache
.coverage
.coverage.*
.directory
.dmypy.json
.eggs/
.env
.hypothesis/
.idea/*
.installed.cfg
.ipynb_checkpoints
.ipynb_checkpoints/
.mypy_cache/
.nox/
.pybuilder/
.pyre/
.pytest_cache/
.pytype/
.ropeproject
.scrapy
.spyderproject
.spyproject
.tox
.tox/
.venv
.webassets-cache
/site
ENV/
MANIFEST
__pycache__/
__pypackages__/
build/
build/*
celerybeat-schedule
celerybeat.pid
cover/
coverage.xml
cython_debug/
develop-eggs/
dist/
dist/*
dmypy.json
docs-build/
docs/_build/
docs/man/
docs/reference/
downloads/
eggs/
env.bak/
env/
htmlcov/
instance/
ipython_config.py
lib/
lib64/
local_settings.py
nosetests.xml
parts/
pip-delete-this-directory.txt
pip-log.txt
profile_default/
reg_settings.py
sdist/
share/python-wheels/
target/
var/
venv.bak/
venv/
wheels/

# Other ignores
*.so
*.sw?
*~
.*.sw?
.DS_Store
.vscode/
